@import url("GE_ss/stylesheet.css");


/* 
 *	CSS Reset
 *	(c)2013 ba9a.com \ spaider art
 */
*,html,body,div,span,applet,object,iframe,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,q,fieldset,form,label,legend,input,select,textarea,table,caption,tbody,tfoot,thead,tr,th,td,var,font,ins,kbd,s,sampsmall,strike,strong,tt,b,u,i,center {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	font-family: 'GE ss';
 	vertical-align: baseline;
	background: transparent;
}
body {	font-family: "GE ss";
line-height: 1;
}
strong span {
	font-family: Arial, Helvetica, sans-serif;	
	}
table {	font-family: "GE ss";
border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img,a img{	font-family: 'GE-ss';
 border:0; }
ul,ol,li { 	font-family: 'GE ss';
list-style:none; }
caption,th,td{	font-family: 'GE ss';
 text-align:left; }
h1,h2,h3,h4,h5,h6{	font-family: 'GE ss';
 font-size:100%; font-weight:normal; }
blockquote, q { 	font-family: 'GE ss';
quotes: none; } 
blockquote:before,blockquote:after,q:before,q:after{ content:''; }
abbr,acronym {	font-family: 'GE ss';
 border:0; font-variant:normal;}
a { 	font-family: 'GE ss';
outline: none; }
sup {	font-family: 'GE ss';
 vertical-align:text-top;}
sub { 	font-family: 'GE ss';
vertical-align:text-bottom;}
ins { 	font-family: 'GE ss';
text-decoration: none; }
legend{ color:#000;}
em { 	font-family: 'GE ss';
font-style: italic }
del { 	font-family: 'GE ss';
text-decoration: line-through; }


.row {
  margin-left: -20px;
  *zoom: 1;
}


[class*="span"] {
  float: left;
  margin-left: 20px;
}



.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
	width: 940px;
	height: 140px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}


label,
input,
button,
select,
textarea {
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
}

input,
button,
select,
textarea {
	font-family: Tahoma, Geneva, sans-serif;
}

label {
	display: block;
	margin-bottom: 20px;
}

input,
textarea,
select,
.uneditable-input {
	display: inline-block;
	width: 210px;
	height: 18px;
	padding: 4px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: #3b6365;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: tahoma;
	text-align: right;
}


textarea {
	height: 100px;
}



input:focus,
textarea:focus {
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	border-top-color: rgba(0,153,0,0.8);
	border-right-color: rgba(0,153,0,0.8);
	border-bottom-color: rgba(0,153,0,0.8);
	border-left-color: rgba(0,153,0,0.8);
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}


