

/* 
 *	CSS Reset
 *	(c)2013 ba9a.com \ spaider art
 */
*,html,body,div,span,applet,object,iframe,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,q,fieldset,form,label,legend,input,select,textarea,table,caption,tbody,tfoot,thead,tr,th,td,var,font,ins,kbd,s,sampsmall,strike,strong,tt,b,u,i,center {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	font-family: 'GE-ss';
 	vertical-align: baseline;
	background: transparent;
}
body { 	font-family: 'GE-ss';
line-height: 1; }
table {	font-family: 'GE-ss';
 border-collapse:collapse; border-spacing:0;}
fieldset,img,a img{	font-family: 'GE-ss';
 border:0; }
ul,ol,li { 	font-family: 'GE-ss';
list-style:none; }
caption,th,td{	font-family: 'GE-ss';
 text-align:left; }
h1,h2,h3,h4,h5,h6{	font-family: 'GE-ss';
 font-size:100%; font-weight:normal; }
blockquote, q { 	font-family: 'GE-ss';
quotes: none; } 
blockquote:before,blockquote:after,q:before,q:after{ content:''; }
abbr,acronym {	font-family: 'GE-ss';
 border:0; font-variant:normal;}
a { 	font-family: 'GE-ss';
outline: none; }
sup {	font-family: 'GE-ss';
 vertical-align:text-top;}
sub { 	font-family: 'GE-ss';
vertical-align:text-bottom;}
ins { 	font-family: 'GE-ss';
text-decoration: none; }
legend{ color:#000;}
strong { font-weight: bold }
em { 	font-family: 'GE-ss';
font-style: italic }
del { 	font-family: 'GE-ss';
text-decoration: line-through; }